.about{
    .ui-block-solo{
        .hr-text {
            line-height: 1em;
            position: relative;
            outline: 0;
            border: 0;
            color: black;
            text-align: center;
            height: 1.5em;
            opacity: .5;
            &:before {
              content: '';
              // use the linear-gradient for the fading effect
              // use a solid background color for a solid bar
              background: linear-gradient(to right, transparent, #818078, transparent);
              position: absolute;
              left: 0;
              top: 50%;
              width: 100%;
              height: 1px;
            }
            &:after {
              content: attr(data-content);
              position: relative;
              display: inline-block;
              color: black;
          
              padding: 0 .5em;
              line-height: 1.5em;
              // this is really the only tricky part, you need to specify the background color of the container element...
              color: #818078;
              background-color: #fcfcfa;
            }
          }
          .social-icons {

            ul > li {
              > a {
                display: inline-block;
                font-size: $footer-icons-font-size;
                padding: 0px;
              }
              > a > i {
                display: inline-block;
                line-height: 33px;
                transition: all 0.2s;
                border-radius: 40px;
                text-align: center;
                margin-right: 20px;
                &[class*='facebook'] {
                  color: $facebook-icon-color;
                  border-color: $facebook-icon-color;
                  &:hover {
                    color: lighten($facebook-icon-color, 10);
                  }
                }
                &[class*='twitter'] {
                  color: $twitter-icon-color;
                  border-color: $twitter-icon-color;
                  &:hover {
                    color: lighten($twitter-icon-color, 10);
                  }
                }
                &[class*='instagram'] {
                  color: $instagram-icon-color;
                  border-color: $instagram-icon-color;
                  &:hover {
                    color: lighten($instagram-icon-color, 10);
                  }
                }
                &[class*='youtube'] {
                  color: $youtube-icon-color;
                  border-color: $youtube-icon-color;
                  &:hover {
                    color: lighten($youtube-icon-color, 10);
                  }
                }
              }
            }
          }
    }
}