.breadcrumb-container {
  height: $breadcrumb-container-height;
  background: $breadcrumb-container-bg-color;
  padding: $breadcrumb-container-padding;
  border-bottom: $breadcrumb-container-border-bottom;
  .breadcrumb {
    .breadcrumb-list {
      .breadcrumb-item {
        margin-right: 10px;
        a {
          color: $default-font-color;
          font-weight: 600;
          text-decoration: none;
          font-size: $default-font-size;
          &:hover {
            color: $light-font-color;
            text-decoration: underline;
          }
          i {
            font-size: 18px;
            font-weight: bold;
            margin-left: 10px;
            top: 2px;
            position: relative;
          }
        }
        &:last-child {
          a {
            i {
              display: none;
            }
          }
        }
      }
    }
  }
}
