
      /* Optional: Makes the sample page fill the window for the map. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

.contact{
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       .map {
        height: 30%;
      }
      
    .contact-detils{
        padding: 0px 20px;
        p{
            font-size: 18px;
            b{
                font-weight: 900;
            }
        }
    }
    hr.style14 { 
        line-height: 1em;
            position: relative;
            outline: 0;
            border: 0;
            color: black;
            text-align: center;
            height: 1.5em;
            opacity: .5;
            &:before {
              content: '';
              // use the linear-gradient for the fading effect
              // use a solid background color for a solid bar
              background: linear-gradient(to right, transparent, #818078, transparent);
              position: absolute;
              left: 0;
              top: 50%;
              width: 100%;
              height: 1px;
            }
            &:after {
              content: attr(data-content);
              position: relative;
              display: inline-block;
              color: black;
          
              padding: 0 .5em;
              line-height: 1.5em;
              // this is really the only tricky part, you need to specify the background color of the container element...
              color: #818078;
              background-color: #fcfcfa;
            }
        }

        .form-area{
            top: 25px;
            padding: 0px 20px;

            p{
                font-size: 18px;
                font-weight: 900;
            }
    
            .inputWithIcon input{
                padding: 15px 45px;
              }
    
              .inputWithIcon {
                position: relative;
                padding: 5px 0px;
              }
    
              .inputWithIcon i {
                position: absolute;
                left: 0;
                top: 22px;
                padding: 9px 12px;
                transition: 0.3s;
              }
    
              .inputWithIcon input[type="text"]:focus + i {
                color: dodgerBlue;
              }
            }    
}