.right-section{
height: $section-height;
  background-color: $white !important;
.desc-content{
    padding: 15px 40px 40px 40px;
    .desc-title{
        color: $black;
        text-align: center;
        margin-bottom: 10px;
    }
    .desc-para{
        color: $black;
        text-align: justify;
        line-height:1.2; 
    }
    .book-tickets-btn, .get-directions-btn {
        border-radius: 2px;
        transition: all .3s;
        background: $secondary-color;
        color: $white;
        text-transform: uppercase;
        text-shadow: none;
        &:hover {
          background: darken($secondary-color, 10);
        }
      }
}
}
.cal-arrrow.trndngarr {
    position: absolute;
    right: 15px;
    bottom: 15px;
    i {
        font-size: 25px;
        color: #000;
    }
}
.descriptions {
    width: 85%;
    float: left;
    margin-left: 2%;
    color: #000 !important;
}
.descriptions h2, {
    color: #000 !important;
}
.event-image {
      text-align: center;
      img {
        width: 80%;
        height:40%;
      }
    
  }