
.events_body .events_list ul li {
    border-bottom: 1px solid #514a9d;
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
}

.events_list ul li a {
    border: none !important;
}
.ui-listview > .ui-li-has-thumb > .ui-btn {
    padding-left: 5.25em !important;
}
.events_list ul li 
        .event_image img {
    width: 100px !important;
    height: 100px;
    border-image: 30 round !important;
    float: left;
    margin: 3px 0;
}

.event_desc {
    width: 50%;
    float: left;
    margin-left: 2%;
    color: #000 !important;
}
.event_desc h2, .event_desc p {
    color: #000 !important;
}
.event_loaction img {
    width: 10px !important;
    height: 10px;
    margin-right: 5px;
}

.fav-class {
    position: absolute;
    right: 15px;
    bottom: 15px;
    i {
        font-size: 18px;
    }
}

.ui-li-icon-right {
    max-height: 40px;
    max-width: 40px;
    right: 10px;
    top: .9em;
}
.listCont {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 500px;
}
.reEvents{
    max-height: 600px;
}