.main-content {
  background-color: $bg-color;
}

.center-text {
  text-align: center;
}

.text-center {
  text-align: center;
}

.center-button {
  margin: 0 auto !important;
}

.full-height {
  height: 100%;
}

.font-white {
  color: $white;
}

.body-padding {
  padding: 5% 10%;
}

.inline-block {
  display: inline-block !important;
}

/** JQuery Mobile Framework GLobal Style Overrides **/
.ui-page-theme-a,
.ui-bar-inherit {
  text-shadow: none !important;
}

.ui-content {
  padding: unset !important;
}

.ui-bar {
  padding: unset !important;
  background-color: $white !important;
}

.ui-bar-a {
  border: none !important;
  background-color: $white !important;
}

.ui-btn {
  text-shadow: none !important;
  font-family: 'Roboto', sans-serif !important;
  font-size: $default-font-size;
  &:active {
    text-shadow: none !important;
  }
}
