.main-content {
  background-color: $bg-color;
}

.center-text {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.white-bg {
  background-color: $white !important;
}

.hidden {
  display: none;
}

.non-visible {
  visibility: hidden;
}

.empty-placeholder {
  text-align: center;
  padding: 4% 15%;
  .icon {
    height: 50px;
  }
  .main-title {
    margin: 5px 0 10px 0;
  }
  .sub-title {
    margin: 5px 0 10px 0;
  }
}

.fabs {
  bottom: 0;
  position: fixed;
  margin: 1em;
  right: 0;
  z-index: 9999;

  .fab {
    display: block;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background: $tertiary-color;
    margin: 25px auto 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    cursor: pointer;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    position: relative;
    z-index: 998;
    overflow: hidden;
    > i {
      font-size: 2em;
      line-height: 55px;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      transition: all 0.2s ease-in-out;
    }
  }
}

.text-center {
  text-align: center;
}

.center-button {
  margin: 0 auto !important;
}

.full-height {
  height: 100%;
}

.font-white {
  color: $white;
}

.body-padding {
  padding: 5% 10%;
}

.inline-block {
  display: inline-block !important;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.fadeout {
  position: relative;
  bottom: 4em;
  height: 4em;
  background: -webkit-linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background-image: -moz-linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background-image: -o-linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background-image: linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background-image: -ms-linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.form-container {
  .input-with-icon {
    position: relative;
    padding: 5px 0px;
    input {
      padding: 10px 45px;
    }
    textarea {
      padding: 10px 15px;
      min-height: 70px;
    }
    i {
      position: absolute;
      left: 4px;
      top: 17px;
      padding: 9px 12px;
      transition: 0.3s;
    }
  }
}

.social-icons {
  ul > li {
    > a {
      display: inline-block;
      font-size: $footer-icons-font-size;
      padding: 0;
    }
    > a > i {
      display: inline-block;
      line-height: 33px;
      font-size: 20px;
      transition: all 0.2s;
      border-radius: 40px;
      text-align: center;
      margin: 0 8px;

      &[class*='facebook'] {
        color: $facebook-icon-color;
        border-color: $facebook-icon-color;
        &:hover {
          color: lighten($facebook-icon-color, 10);
        }
      }
      &[class*='twitter'] {
        color: $twitter-icon-color;
        border-color: $twitter-icon-color;
        &:hover {
          color: lighten($twitter-icon-color, 10);
        }
      }
      &[class*='google-plus'] {
        color: $google-plus-icon-color;
        border-color: $google-plus-icon-color;
        &:hover {
          color: lighten($google-plus-icon-color, 10);
        }
      }
      &[class*='instagram'] {
        color: $instagram-icon-color;
        border-color: $instagram-icon-color;
        &:hover {
          color: lighten($instagram-icon-color, 10);
        }
      }
      &[class*='youtube'] {
        color: $youtube-icon-color;
        border-color: $youtube-icon-color;
        &:hover {
          color: lighten($youtube-icon-color, 10);
        }
      }
    }
  }
}

.hr {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
  &:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 0.5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #fcfcfa;
  }
}

.slick-dots li button:before {
  font-size: 18px !important;
}

/** JQuery Mobile Framework GLobal Style Overrides **/
.ui-page-theme-a,
.ui-bar-inherit {
  text-shadow: none !important;
}

.ui-page-theme-a {
  background-color: $bg-color !important;
}

.ui-content {
  padding: unset !important;
}

.ui-bar {
  padding: unset !important;
  background-color: $white !important;
}

.ui-bar-a {
  border: none !important;
  background-color: $white !important;
}

.ui-btn {
  text-shadow: none !important;
  font-family: 'Roboto', sans-serif !important;
  font-size: $default-font-size;
  &:active {
    text-shadow: none !important;
  }
}

.ui-focus {
  box-shadow: unset !important;
}

.ui-shadow-inset {
  box-shadow: unset !important;
}
