.header {
  background-color: $white !important;
  border: none !important;
  border-bottom: $header-border-bottom !important;
  padding: $header-padding;
  height: $header-height !important;
  a {
    background-color: $white !important;
    border-color: $white !important;
    box-shadow: none !important;
    i {
      font-size: 1.6rem;
    }
  }
}

/** JQuery Mobile Framework Overrides **/
.header {
  .ui-btn {
    color: $black !important;
    text-shadow: none !important;
    &:active {
      color: $black !important;
      text-shadow: none !important;
    }
  }
}
