.header {
  background-color: $secondary-color !important;
  border: none !important;
  border-bottom: $header-border-bottom !important;
  padding: $header-padding;
  height: $header-height !important;
  text-align: center;
  .navbar {
    display: none !important;
  }
  .hamburger {
    display: block !important;
  }
  a {
    background-color: $secondary-color !important;
    border-color: $secondary-color !important;
    box-shadow: none !important;
    i {
      color: $white;
      font-size: 1.6rem;
    }
  }
  .mini-logo {
    height: 28px;
    margin-top: 10px;
  }
  .login-btn {
    margin-right: 8px !important;
    margin-top: 4px !important;
  }
  .avatar-container {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 8px;
    .avatar {
      height: 30px;
      width: 30px;
    }
  }
}

/**++++++++-----------------------------------------------------------++++++++**/
/** ----------------------------  Media Queries  ---------------------------- **/
/**++++++++-----------------------------------------------------------++++++++**/

/** iPhone 6, 7, & 8 in portrait **/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  .header {
    .navbar {
      display: none !important;
    }
    .hamburger {
      display: block !important;
    }
  }
}

/** iPhone 6, 7, & 8 in landscape **/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
  .header {
    .navbar {
      display: none !important;
    }
    .hamburger {
      display: block !important;
    }
  }
}

/** iPhone X in portrait **/
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  .header {
    .navbar {
      display: none !important;
    }
    .hamburger {
      display: block !important;
    }
  }
}

/** iPhone X in landscape **/
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  .header {
    .navbar {
      display: none !important;
    }
    .hamburger {
      display: block !important;
    }
  }
}

/** iPad in portrait **/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .header {
    .navbar {
      display: none !important;
    }
    .hamburger {
      display: block !important;
    }
  }
}

/** iPad in landscape **/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .header {
    .navbar {
      display: inline-block !important;
    }
    .hamburger {
      display: none !important;
    }
  }
}

/** Desktop **/
@media only screen and (min-device-width: 1024px) {
  .header {
    .navbar {
      display: inline-block !important;
    }
    .hamburger {
      display: none !important;
    }
  }
}
