.page-description {
  .page-description-text {
    margin: 10px 5px;
  }
  .favourites-btn {
    i {
      margin-right: 10px;
      font-size: 20px;
    }
  }
}

.auth-page {
  height: 100vh;
  .content {
    padding: 5% 10%;
    height: 100%;
  }
  .close-icon-container {
    text-align: right;
    padding: 15px 20px;
  }

  .main-heading-container {
    margin: 15px 0 20px 0;
    h1 {
      font-size: 50px;
      margin-bottom: 10px;
      font-weight: bold;
    }
    h3 {
      font-size: 25px;
      margin-bottom: 10px;
    }
  }

  .form-area {
    .input-with-icon {
      position: relative;
      padding: 5px 0px;
      input {
        padding: 10px 45px;
      }
      i {
        position: absolute;
        left: 4px;
        top: 17px;
        padding: 9px 12px;
        transition: 0.3s;
      }
    }
  }
  .route-area {
    padding: 10px 20px;
    text-align: center;
  }

  .hr-text {
    top: 15px;
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: 0.5;
    &:before {
      content: '';
      background: linear-gradient(to right, transparent, #818078, transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
    }
    &:after {
      content: attr(data-content);
      position: relative;
      display: inline-block;
      color: black;

      padding: 0 0.5em;
      line-height: 1.5em;
      // this is really the only tricky part, you need to specify the background color of the container element...
      color: #818078;
      background-color: #fcfcfa;
    }
  }
  .social-login-container {
    margin-top: 40px;
    padding: 0px 20px;
    text-align: center;
    h6 {
      margin-bottom: 10px;
    }
    .social-icons {
      ul > li {
        > a {
          display: inline-block;
          font-size: $footer-icons-font-size;
          padding: 0;
        }
        > a > i {
          display: inline-block;
          line-height: 33px;
          font-size: 20px;
          transition: all 0.2s;
          border-radius: 40px;
          text-align: center;
          margin: 0 8px;

          &[class*='facebook'] {
            color: $facebook-icon-color;
            border-color: $facebook-icon-color;
            &:hover {
              color: lighten($facebook-icon-color, 10);
            }
          }
          &[class*='twitter'] {
            color: $twitter-icon-color;
            border-color: $twitter-icon-color;
            &:hover {
              color: lighten($twitter-icon-color, 10);
            }
          }
          &[class*='google-plus'] {
            color: $google-plus-icon-color;
            border-color: $google-plus-icon-color;
            &:hover {
              color: lighten($google-plus-icon-color, 10);
            }
          }
        }
      }
    }
  }
}
