.intro-page {
  .content {
    padding: 5% 10%;
    height: 100%;
  }
  .welcome-placeholder-container {
    margin-bottom: 20px;
    h2 {
      margin: 10px 0;
    }
  }
  .card-grid-wrapper {
    margin-bottom: 35px;
    h3 {
      margin-bottom: 15px;
    }
    .card-flex-container {
      margin-bottom: 20px;
    }
  }
  .sponsor-logo-container {
    img {
      max-width: 120px;
      margin: 10px 0;
    }
    .breakpoint {
      .ui-block-a,
      .ui-block-b,
      .ui-block-c,
      .ui-block-d {
        text-align: center;
      }
    }
  }
}

.sponsor-page {
  .top-panel {
    height: 40px;
    background-color: $white;
    padding: 5px 15px;
    border-bottom: $header-border-bottom !important;
    p {
      display: inline-block;
      margin: 5px;
      font-size: 14px;
      font-weight: bold;
    }
    button {
      display: inline-block;
      margin: unset;
      float: right;
    }
  }
  .iframe-container {
    background-color: $black;
    height: calc(100vh - 40px);
    iframe {
      margin: 0 auto;
      display: block;
      width: 100%;
      border: 1px solid $black;
    }
  }
}

.profile-page {
  .desc-title {
    margin-top: 10px;
  }
}

.page-description {
  .page-description-text {
    margin: 15px 5px 10px 5px;
  }
  .favourites-btn {
    i {
      margin-right: 10px;
      font-size: 20px;
    }
  }
  .profile-icon-container {
    text-align: center;
    padding: 20px 10px;
    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }
  }
}

.white-full-page-wrapper {
  background-color: $white !important;
  .white-full-page {
    background-color: $white !important;
    .close-icon-container {
      text-align: right;
      padding: 15px 20px;
      i {
        color: $dark-gray;
        &:hover {
          color: darken($dark-gray, 10);
        }
      }
    }
  }
}

.auth-page {
  .main-heading-container {
    margin: 15px 0 20px 0;
    h1 {
      font-size: 50px;
      margin-bottom: 10px;
      font-weight: bold;
    }
    h3 {
      font-size: 25px;
      margin-bottom: 10px;
    }
  }

  .route-area {
    padding: 10px 20px;
    text-align: center;
  }

  .social-login-container {
    margin-top: 40px;
    padding: 0px 20px;
    text-align: center;
    h6 {
      margin-bottom: 10px;
    }
  }
}

.join-game-page {
  .task-decription-container {
    margin: 20px 0;
    img {
      max-width: 100%;
      padding-right: 10%;
    }
  }
  .task-status-container {
    margin: 15px 0;
  }
  .leaderbaord-container {
    margin: 20px 0;
    .list {
      padding-left: 0 !important;
      padding-right: 0 !important;
      .position {
        position: absolute;
        display: inline-block;
        right: 12px;
        top: 0;
        font-size: 25px;
        padding: 5px 10px;
      }
    }
  }
}

.scan-qr-page {
  height: calc(100vh - 80px);
  .top-panel {
    height: 80px;
    background-color: $white;
    padding: 5px 15px;
    border-bottom: $header-border-bottom !important;
    .main-heading {
      display: inline-block;
      margin: 5px;
      font-weight: bold;
    }
    button {
      display: inline-block;
      margin: unset;
      float: right;
      margin-top: 20px;
    }
  }
  .video-feed-container {
    text-align: center;
  }
}

.directions-page {
  .google-map {
    height: calc(100vh - 90px);
  }
}

.padded-content {
  padding: 5% 10%;
  &.full-height {
    height: 100%;
  }
}

.about-page {
  .social-icon-container {
    margin: 10px 0;
  }
}

.contact-page {
  .google-map {
    height: 40vh;
  }
  .contact-details {
    margin: 10px 0 20px 0;
    .address,
    .phone,
    .email {
      font-size: 16px;
      margin-bottom: 5px;
      span {
        font-weight: bold;
        font-size: 18px;
        margin-right: 10px;
        min-width: 70px;
      }
    }
  }
  hr.vertical {
    display: none;
  }
  .form-container {
    margin: 10px 0 10px 0;
    h4 {
      margin-bottom: 10px;
    }
  }
}

.product-description {
  .product-specs {
    h4 {
      margin-bottom: 15px;
    }
  }
  .availability-btn-anchor {
    width: 100%;
  }
}

.booking-page {
  .booking-image-container {
    padding: 30px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .booking-details {
    padding: 30px;
    .booking-title {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .booking-description-text {
      margin-bottom: 10px;
    }
    .ticket-count {
      margin-bottom: 5px;
      p {
        display: inline-block;
        margin-right: 10px;
      }
      .ui-input-text {
        display: inline-block !important;
      }
    }
  }
  .total-container {
    h4 {
      margin-bottom: 10px;
    }
    p {
      margin: 10px 0;
    }
  }

  .form-area {
    top: 25px;
    padding: 0px 20px;

    .inputWithIcon input {
      padding: 15px 45px;
    }

    .inputWithIcon {
      position: relative;
      padding: 5px 0px;
    }

    .inputWithIcon i {
      position: absolute;
      left: 0;
      top: 22px;
      padding: 9px 12px;
      transition: 0.3s;
    }

    .inputWithIcon input[type='text']:focus + i {
      color: dodgerBlue;
    }
  }
}

/**++++++++-----------------------------------------------------------++++++++**/
/** ----------------------------  Media Queries  ---------------------------- **/
/**++++++++-----------------------------------------------------------++++++++**/

/** iPhone 6, 7, & 8 in portrait **/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  .padded-content {
    padding: 3% 6%;
  }
  .intro-page {
    .sponsor-logo-container {
      .breakpoint {
        .ui-block-a,
        .ui-block-b,
        .ui-block-c,
        .ui-block-d {
          min-height: 60px;
          width: 50%;
        }
      }
    }
  }
  .contact-page {
    .contact-details {
      .address {
        span {
          display: block;
        }
      }
    }
    hr.vertical {
      display: none;
    }
    .breakpoint {
      .ui-block-a,
      .ui-block-b {
        width: 100%;
      }
    }
  }
  .booking-page {
    .booking-image-container {
      padding: 10px;
    }
    .booking-details {
      padding: 10px;
      .booking-title {
        font-size: 14px;
      }
      .booking-description-text {
        display: none;
      }
      .ticketprice {
        font-size: 16px;
      }
    }
  }
}

/** iPhone 6, 7, & 8 in landscape **/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
  .padded-content {
    padding: 3% 8%;
  }
  .intro-page {
    .sponsor-logo-container {
      .breakpoint {
        .ui-block-a,
        .ui-block-b,
        .ui-block-c,
        .ui-block-d {
          min-height: 60px;
          width: 50%;
        }
      }
    }
  }
  .contact-page {
    hr.vertical {
      display: none;
    }
    .breakpoint {
      .ui-block-a,
      .ui-block-b {
        width: 100%;
      }
    }
  }
  .booking-page {
    .booking-image-container {
      padding: 10px;
    }
    .booking-details {
      padding: 10px;
      .booking-title {
        font-size: 14px;
      }
      .booking-description-text {
        display: none;
      }
      .ticketprice {
        font-size: 16px;
      }
    }
  }
}

/** iPhone X in portrait **/
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  .padded-content {
    padding: 3% 6%;
  }
  .intro-page {
    .sponsor-logo-container {
      .breakpoint {
        .ui-block-a,
        .ui-block-b,
        .ui-block-c,
        .ui-block-d {
          min-height: 60px;
          width: 50%;
        }
      }
    }
  }
  .contact-page {
    .contact-details {
      .address {
        span {
          display: block;
        }
      }
    }
    hr.vertical {
      display: none;
    }
    .breakpoint {
      .ui-block-a,
      .ui-block-b {
        width: 100%;
      }
    }
  }
  .booking-page {
    .booking-image-container {
      padding: 10px;
    }
    .booking-details {
      padding: 10px;
      .booking-title {
        font-size: 14px;
      }
      .booking-description-text {
        display: none;
      }
      .ticketprice {
        font-size: 16px;
      }
    }
  }
}

/** iPhone X in landscape **/
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  .padded-content {
    padding: 3% 8%;
  }
  .intro-page {
    .sponsor-logo-container {
      .breakpoint {
        .ui-block-a,
        .ui-block-b,
        .ui-block-c,
        .ui-block-d {
          min-height: 60px;
          width: 50%;
        }
      }
    }
  }
  .contact-page {
    hr.vertical {
      display: none;
    }
    .breakpoint {
      .ui-block-a,
      .ui-block-b {
        width: 100%;
      }
    }
  }
  .booking-page {
    .booking-image-container {
      padding: 10px;
    }
    .booking-details {
      padding: 10px;
      .booking-title {
        font-size: 14px;
      }
      .booking-description-text {
      }
      .ticketprice {
        font-size: 16px;
      }
    }
  }
}

/** iPad in portrait **/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .padded-content {
    padding: 4% 9%;
  }
  .contact-page {
    hr.vertical {
      display: none;
    }
    .breakpoint {
      .ui-block-a,
      .ui-block-b {
        width: 100%;
      }
    }
  }
  .profile-page {
    .breakpoint {
      .breakpoint-a,
      .breakpoint-b {
        width: 100%;
      }
    }
  }
}

/** iPad in landscape **/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .padded-content {
    padding: 5% 10%;
  }
}

/** Desktop **/
@media only screen and (min-device-width: 1024px) {
  .padded-content {
    padding: 5% 10%;
  }
}
