.profile-right-side {
  .desc-content {
    padding: 15px 40px 40px 40px;
    .desc-title {
      color: $black;
      text-align: center;
      margin-bottom: 10px;
    }
    .events_body {
      margin-top: 10px;
    }
    .desc-para {
      color: $black;
      line-height: 1.2;
    }
    .view-favourites-btn {
      border-radius: 2px;
      transition: all 0.3s;
      background: $primary-color;
      color: $white;
      text-transform: uppercase;
      text-shadow: none;
      &:hover {
        background: darken($primary-color, 10);
      }
    }
    .view-tasks-btn {
      width: 45%;
      border-radius: 2px;
      transition: all 0.3s;
      background: $dark-color-3;
      color: $white;
      text-transform: uppercase;
      text-shadow: none;
      &:hover {
        background: darken($dark-color-3, 10);
      }
    }
    .join-game-btn {
      border-radius: 2px;
      transition: all 0.3s;
      background: $quaternary-color;
      color: $white;
      text-transform: uppercase;
      text-shadow: none;
      &:hover {
        background: darken($quaternary-color, 10);
      }
      width: 45%;
      float: right;
      bottom: 60px;
    }
  }
}

.cal-arrrow.trndngarr {
  position: absolute;
  right: 15px;
  bottom: 15px;
  i {
    font-size: 25px;
    color: #000;
  }
}
.descriptions {
  width: 85%;
  float: left;
  margin-left: 2%;
  color: #000 !important;
}
.descriptions h2 {
  color: #000 !important;
}
.profile-image {
  text-align: center;
  img {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    margin-top: 10px;
  }
}
.profile-content-list {
  border-style: groove;
}
.current-position {
  color: #000 !important;
  height: 50px;
  h2 {
    text-align: center;
    //font-size: 18px !important;
  }
  h3 {
    font-size: 20px !important;
    text-align: center;
    i {
      font-size: 25px;
      color: chocolate;
      margin-right: 10px;
    }
  }
  //   border-style: groove;
}

.total-points {
  color: #0e1728 !important;
  height: 50px;
  h2 {
    text-align: center;
    font-size: 18px;
  }
  h3 {
    font-size: 20px !important;
    text-align: center;
  }

  //border-style: groove;
}
