// global
$main-content-area-height: calc(100vh - 122px);
$default-font-size: 12px;

// sections
$section-height: calc(100vh - 122px);
$right-section-content-padding: 40px 40px 40px 0;

// footer
$footer-padding: 10px 15px;
$footer-navigate-top-height: 30px;
$footer-icons-font-size: 17px;
$footer-copyright-font-size: 10px;
$footer-border-top: 3px solid $primary-color;
$footer-accordion-link-height: 40px;
$footer-accordion-font-size: 14px;
$footer-accordion-link-border: 1px solid $dark-gray;

// header
$header-height: 50px;
$header-border-bottom: 1px solid #f0f0f0;
$header-padding: 10px 30px;

// Breadcrumb
$breadcrumb-container-height: 40px;
$breadcrumb-container-bg-color: $white;
$breadcrumb-container-padding: 7px 15px;
$breadcrumb-container-border-bottom: 2px solid #eee;

// Sidebar
$sidebar-content-height: calc(100vh - 50px);
$sidebar-border-right: 1px solid $dark-gray;

// Buttons
$button-default-font-size: 14px;

// Cards
$card-border-radius: 4px;
$card-border: 1px solid $lighter-gray;
$card-max-width: 250px;
$card-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
$card-hover-box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
  0 17px 17px 0 rgba(0, 0, 0, 0.15);
$card-spacer-y: 1.25rem !default;
$card-spacer-x: 1.5rem !default;
$card-border-color: rgba($dark-gray, 0.05);
$card-bg: $white !default;
