// global
$main-content-area-height: calc(100vh - 122px);

// sections
$section-height: calc(100vh - 122px);
$right-section-content-padding: 40px 40px 40px 0;

// footer
$footer-padding: 10px 15px;
$footer-icons-font-size: 17px;
$footer-copyright-font-size: 10px;
$footer-border-top: 1px solid #f0f0f0;

// header
$header-height: 50px;
$header-border-bottom: 1px solid #f0f0f0;
$header-padding: 10px 30px;

// Sidebar
$sidebar-content-height: calc(100vh - 50px);
$sidebar-border-right: 1px solid $dark-gray;

// Buttons
$button-default-font-size: 14px;
