.cal-arrrow.trndngarr {
    width: 12%;
    float: left;
    margin-top: 15px;
}
.descriptions {
    width: 85%;
    float: left;
    margin-left: 2%;
    color: #000 !important;
}
.descriptions h2, {
    color: #000 !important;
}